@import "variables";

body, html {
  height: 100%;
  margin: 0px;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient($bg-start, $bg-end);
  padding: 0;
}

.register-now {
  padding: 60px 0 0 0;
}

.background-color {
  background-color: $bg;
}

.card-container.card {
  max-width: 400px;
  padding: 40px 40px;
}

.card {
  background-color: $bg;

  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo {
  background-color: $bg;
  width: 100%;
  height: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.logo-card {
  width: 98px;
  height: 50px;
  margin: 10px auto 10px;
  display: block;
  text-align: center;
}

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.btn-remove {
  max-height: 20%;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  font-size: 10%;
  background-color: #bd00ba;
  color: black;
}

.btn.btn-send {
  background-color: $btn;
  //width: auto;
  color: black;
}

.btn.btn-send:hover,
.btn.btn-send:active,
.btn.btn-send:focus {
  background-color: $btn-hover;
  color: black;
}

.padding-top {
  padding: 1% 0 0 0;
}

.width-inherit {
  width: inherit;
}

.padding-groups {
  padding-top: 20%;
  padding-bottom: 20%;
}

.padding-top-50 {
  padding-top: 50%;
}

.padding-top-100 {
  padding-top: 100%;
}

.padding-top-5 {
  padding-top: 5%;
}

.padding-top-10 {
  padding-top: 10%;
}

.padding-top-20 {
  padding-top: 20%;
}

.padding-top-30 {
  padding-top: 30%;
}

.col-offset-2 {
  margin-left: 16.66666667%
}

.col-2 {
  width: 16.666666667%
}

.col-8 {
  width: 66.66666667%
}

.col-10 {
  width: 83.333333333%
}

.min-height-80 {
  min-height: 800px;
}

.border {
  border: 1px solid black;
}

.padding-bottom-1 {
  padding-bottom: 1%;
}

.padding-bottom-5 {
  padding-bottom: 5%;
}

.padding-bottom-10 {
  padding-bottom: 10%;
}

a[href] {
  font-size: 120%;
  color: $bg;
  text-decoration: none;
}

a[href]:hover {
  font-size: 120%;
  color: $btn-hover;
  text-decoration: none;
}

a[type="submit"] {
  color: black;
}

a[type="submit"]:hover {
  color: black;
}

.cancel-padding-margin {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.author {
  text-align: center;
  height: 10%;
  font-size: 120%;
  color: $bg;
}

.about-product {
  padding-left: 10%;
  font-size: 200%;
  color: $bg;
  font-style: italic;
}

.padding-left-10 {
  padding-left: 10%;
}

.padding-left-20 {
  padding-left: 20%;
}

.padding-left-30 {
  padding-left: 30%;
}

.height-80 {
  height: 80%;
  min-height: 80%;
}

.height-90 {
  height: 90%;
  min-height: 90%;
}

.height-100 {
  height: 100%;
  min-height: 100%;
}

.fill {
  min-height: 100%;
  height: 100%;
}

.photo {
  position: relative;
  max-width: 100%;
  max-height: 50%;
  padding-left: 5%;
  margin-bottom: 2%;
}

.px-14 {
  font-size: 14px;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  height: 28px
}